/* 中间分类模块 */
.grid {
    height: 480px;

}
.grid-col1 {
    width: 190px;
    height: 100%;
    background-color: #9c9698;
}
.grid-col1 ul {
    padding: 15px 0;
    color: #ffffff;
    font-size: 14px; 
}
.grid-col1 a {
    padding-left: 12px;
    color: #ffffff;
    font-size: 14px; 
   margin-right: 0 3px;
   height: 26px;
   line-height: 26px; 
}
.grid-col1 li:hover {
   background-color: #9c9698;
}
.grid-col1 a:hover{
    color: #f10215;
}
.grid-col2{
    width: 790px;
    height: 100%;
    margin-left: 10px;


}
.grid-col2-t{
    position: relative;
}
 .arry-l {
    height: 40px;
    width: 70px;
    top: 50%;
    background-color:pink;
    position: absolute;
}
.grid-col2-b div{ 
    float: left;
    margin-top: 10px;


}
.grid-col2-b div:last-child{
    float: right;
    margin-top: 10px;
}


.grid-col3{
    width: 190px;
    height: 100%;
    background-color: blue;

}